.room-header {
  background-image: linear-gradient(to right, white, #8d97a2);
  min-height: 5vh;
}

.user-image img {
  width: 30px
}

#messages li {
  padding: 5px 10px;
  display: flex;
  align-items: stretch;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #3B4048;
  max-height: 85%;
  overflow: auto;
}

.box {
  min-height: calc(100vh - 160px);
}

#user-input {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 98%
}